#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cyan;
}
#title>p{
    font-size: 18px;
    font-style: italic;
}
#survey-form{
    border: 2px solid cadetblue;
    margin: 20px;
    padding: 13px;
    width: 50%;
    background-color: aliceblue;
    border-radius: 20px;
}
#survey-form >label{
    padding: 6px;
    font-size: 20px;
    font-style: normal;
}
#survey-form >input{
    width: 60%;
    height: 31px;
    padding: 0;
    margin-top: 10px;
    /* margin-left: 17px; */
    margin-bottom: 10px;
    border-radius: 10px;
}