#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cyan;
}
#title > p{
    font-size: 18px;
    font-style: italic;
}
#survey-form{
    border: 2px solid cadetblue;
    margin: 20px;
    padding: 13px;
    width: 50%;
    background-color: aliceblue;
    border-radius: 20px;
}
#survey-form > label{
    padding: 6px;
    font-size: 20px;
    font-style: normal;
}
#survey-form > input{
    width: 60%;
    height: 31px;
    padding-left: 16px;
    margin-top: 10px;
    /* margin-left: 17px; */
    margin-bottom: 10px;
    border-radius: 10px;
}
#dropdown,#selector{
    width: 60%;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#radios, #checkboxes{
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#suggestion{
    padding: 6px;
    font-size: 20px;
    font-style: normal;
}
#comment{
    width: 90%;
    border-radius: 20px;
    padding: 16px;
    margin-top: 10px;
}
#suggestion > input {
    background-color: greenyellow;
    height: 40px;
    width: 90%;
    font-weight: 700;
    text-align: center;
    border-radius: 16px;
    margin-top: 10px;
}